[Desktop Entry]
Name=Rufux
Comment=Bootable USB creator for Linux (Rufus port)
Exec=rufux-gui
Icon=io.github.hultwl.rufux
Terminal=false
Type=Application
Categories=System;Utility;
Keywords=usb;iso;bootable;rufus;
StartupNotify=true
